<div class="users-ranking mb-5 text-center">
  <div class="container mb-5">
    <div class="form-heading mb-4 pt-4"><h2>売上ランキング</h2></div> 
    <table class="table text-left">
      <tr>
        <th class="text-left m-0">順位</th>
        <th class="text-nowrap m-0">名前</th>
        <th class="text-nowrap m-0">売上</th>
        <th class="text-nowrap m-0">団体</th>
      </tr>
      <% @users.each.with_index do |user,index| %>
      <tr>
        <td class="text-left m-0"><%= index+1 %>位</td>
        <td class="text-nowrap m-0"><small><%= link_to user.name,user ,class: "index_url"%></small></td>
        <td class="text-nowrap m-0"><small>¥<%= user.money %></small></td>
        <td class="text-nowrap m-0"><small><%= user.group %></small></td>
      </tr>
        <% end %>
    </table>
   </div>
</div>

