<div class="operation mb-5">
  <div class="container mb-5">
    <div class="form-heading text-center pt-4"><h2>運営</h2></div>
      <div class="form-body">


        <div class="row">
          <div class="col-6 offset-3">
        
        <h3 class="text-center mb-5 mt-5"><a href="/about/service" class="nav-link">当サービスについて</a></h3>
        <h3 class="text-center mb-5"><a href="/about/company" class="nav-link">運営会社について</a></h3>
        <h3 class="text-center mb-5"><a href="/about/system" class="nav-link">システムの開発・運営について</a></h3>
        <h3 class="text-center "><a href="/about/contact" class="nav-link">お問い合わせ</a></h3>
        
          </div>
        </div>
      </div>
  </div>
</div>