<div class="operation-top mb-5">
  <div class="container mb-5">
    <div class="form-heading text-center mb-4 pt-4"><h2>運営</h2></div>
      <div class="form-body">


        <div class="row">
          <div class="col-12">
        
        <h4 class="text-center mb-5 pt-3"><%= link_to "当サービスについて", "/about/service", class: "operation_top_url" %></h4>
        <h4 class="text-center mb-5 pt-3"><%= link_to "運営会社について", "/about/company", class: "operation_top_url" %></h4>
        <h4 class="text-center mb-5 pt-3"><%= link_to "システムの開発・運営について", "/about/system", class: "operation_top_url" %></h4>
        <h4 class="text-center pt-3"><%= link_to "お問い合わせ", "/about/contact", class: "operation_top_url" %></h4>
        
        
          </div>
        </div>
      </div>
  </div>
</div>