<div class="wrapper mb-5">
 <header class="mb-4">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">RankingSystem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <% if @current_user  %>
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to("ログアウト","/logout",:class => "nav-link",method: "post")%></li>
      </ul>
      <% else %>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/signup" class="nav-link">会員登録</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">ログイン</a></li>
      </ul>
      <% end %>
    </div>
  </nav>
 </header>
</div>